<div id="login">
	<div class="loginForm">
		<form id="login_form" method="post" action="/login">
			<label for="username">Username:</label>
			<input class="text" type="text" name="username" />
			<label for="password">Password:</label>
			<input class="text" type="password" name="password" />
			<input type="submit" name="login" value="login" id="login_button" />
		</form>
		<% if flash.has?(:error) %>
			<ul class="error">
				<% flash[:error].each do |e| %>
				<li><%= e %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>